.container{
    max-width: 1200px;
    margin: 0 auto;
}



header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.plus{
    padding: 10px;
}

.minus{
    padding: 10px;
}

.champions{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.card{
    width: 200px;
    min-height: 300px;
}

img{
    width: 200px;
}