header{
    display: flex;
    justify-content: space-around;
}

.plus{
    padding: 10px;
}

.minus{
    padding: 10px;
}

.champions{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.card{
    width: 120px;
    min-height: 300px;
}